            <!-- Footer -->
            <footer class="site-footer ">
                <div class="container">
                    <article>
                        <a class="branding" href="#">{{ site.name }}</a>
                        <nav class="site-nav">
                            <p>Copyright © 2015 <strong>{{ site.name }}</strong>. All rights reserved.</p>
                        </nav>
                    </article>
                </div>
            </footer>

        </article>

    </div>

    <!-- jQuery -->

    <script src="{{ site.url }}/js/jquery.js"></script>
    <script src="{{ site.url }}/js/slick.min.js"></script>
    <script src="{{ site.url }}/js/share.min.js"></script>
    <script src="{{ site.url }}/js/classie.js"></script>
    <script src="{{ site.url }}/js/elements.js"></script>
    <script src="{{ site.url }}/js/jquery.animate-enhanced.min.js"></script>
    <script src="{{ site.url }}/js/jquery.superslides.min.js"></script>
    <script src="{{ site.url }}/js/jquery.easing.js"></script>
    <script src="{{ site.url }}/js/hammer.min.js"></script>
    <script src="{{ site.url }}/js/scriptmap.js"></script>
    <script src="{{ site.url }}/js/gmap.js"></script>
    <script src="{{ site.url }}/js/validate.min.js"></script>
    <script src="{{ site.url }}/js/jquery.mmenu.min.all.js"></script>
    <script src="{{ site.url }}/js/theater.min.js"></script>
    <script src="{{ site.url }}/js/jquery.superslides.min.js"></script>
    <script src="{{ site.url }}/js/jquery.flexslider-min.js"></script>
    <script src="{{ site.url }}/js/imagelightbox.min.js"></script>

    <!-- use this url for more information about share button plugin -->
    <!-- https://github.com/carrot/share-button/wiki/Configuration-Options -->
    <script src="{{ site.url }}/js/scripts.js"></script>

</body>

</html>