			<section id="main-nav">
                <div class="container clearfix">
                    <a class="branding" href="../">{{ site.name }}</a>
                    <nav class="site-nav">
                        <ul>
                            <li><a href="../">Inicio</a>
                                <ul class="sub-links">
                                    <li><a href="index.html">Main Home</a>
                                    </li>
                                    <li><a href="index-2.html">Main Home 2</a>
                                    </li>
                                    <li><a href="home-2.html">Home - Slider</a>
                                    </li>
                                    <li><a href="home-3.html">Home - Video</a>
                                    </li>
                                    <li><a href="home-4.html">Home - Text</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../nosotros/">Nosotros</a>
                                <ul class="sub-links">
                                    <li><a href="about.html">About Us 1</a>
                                    </li>
                                    <li><a href="About-2.html">About Us 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../servicios/">Servicios</a>
                                <ul class="sub-links">
                                    <li><a href="services.html">Services 1</a>
                                    </li>
                                    <li><a href="services-2.html">Services 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../portafolio/">Portafolio</a>
                                <ul class="sub-links">
                                    <li><a href="portfolio.html">portfolio</a>
                                    </li>
                                    <li><a href="portfolio-in.html">portfolio-project</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../blog/">Blog</a>
                                <ul class="sub-links">
                                    <li><a href="blog-1.html">Blog - Creative</a>
                                    </li>
                                    <li><a href="blog-2.html">Blog - Minimal</a>
                                    </li>
                                    <li><a href="blog-in.html">Blog - Post</a>
                                    </li>
                                    <li><a href="blog-in-video.html">blog - video</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../">Features</a>
                                <ul class="sub-links">
                                    <li><a href="columns.html">Columns</a>
                                    </li>
                                    <li><a href="grid-boxes.html">icons-box</a>
                                    </li>
                                    <li><a href="accordion.html">accordion - tabs</a>
                                    </li>
                                    <li><a href="404.html">404 - page</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="../contactenos/">Contactenos</a>
                                <ul class="sub-links">
                                    <li><a href="contact.html">contact-1</a>
                                    </li>
                                    <li><a href="contact-2.html">contact-2</a>
                                    </li>
                                    <li><a href="contact-3.html">contact-3</a>
                                    </li>
                                    <li><a href="contact-4.html">contact-4</a>
                                    </li>
                                </ul>
                            </li>


                            <!-- Active this layer to make search input if you want -->
                            <!-- <li id="search-icon">
					            	<form id="seo-ico" >
										<input type="search" placeholder="What are you looking for?"  />
									</form>
					            </li> -->
                        </ul>

                    </nav>
                </div>
            </section>

            <!-- responsive menu for mobile -->
            <!-- The menu -->
            <!-- mobile nav wrapper  -->
            <article class="mobile-nav sticky-off">
                <div class="banner-mobile ">
                    <div class="container">
                        <div class="row">
                            <aside class="block">
                                <a class="branding text-left" href="#">{{ site.name }}</a>
                                <a href="#my-menu" id="naver" class="icon-naver"></a>
                            </aside>
                        </div>
                    </div>
                </div>
                <nav id="my-menu">
                    <ul>
                        <li><a href="../">Home</a>
                            <ul>
                                <li><a href="index.html">Main Home</a>
                                    </li>
                                <li><a href="index-2.html">Main Home 2</a>
                                
                                <li><a href="home-2.html">Home - Slider</a>
                                </li>
                                <li><a href="home-3.html">Home - Video</a>
                                </li>
                                <li><a href="home-4.html">Home - Text</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">about us</a>
                            <ul>
                                <li><a href="about.html">About Us 1</a>
                                </li>
                                <li><a href="About-2.html">About Us 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">services</a>
                            <ul>
                                <li><a href="services.html">Services - 1 </a>
                                </li>
                                <li><a href="services-2.html">Services - 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">portfolio</a>
                            <ul>
                                <li><a href="portfolio.html">portfolio</a>
                                </li>
                                <li><a href="portfolio-in.html">portfolio-project</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">blog</a>
                            <ul>
                                <li><a href="blog-1.html">Blog - Creative</a>
                                </li>
                                <li><a href="blog-2.html">Blog - Minimal</a>
                                </li>
                                <li><a href="blog-in.html">Blog - Post</a>
                                </li>
                                <li><a href="blog-in-video.html">blog - video</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">Features</a>
                            <ul>
                                <li><a href="columns.html">Columns</a>
                                </li>
                                <li><a href="grid-boxes.html">icons-box</a>
                                </li>
                                <li><a href="accordion.html">accordion - tabs</a>
                                </li>
                                <li><a href="404.html">404 - page</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../">contact us</a>
                            <ul>
                                <li><a href="contact.html">contact-1</a>
                                </li>
                                <li><a href="contact-2.html">contact-2</a>
                                </li>
                                <li><a href="contact-3.html">contact-3</a>
                                </li>
                                <li><a href="contact-4.html">contact-4</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </article>