<!-- Site Footer -->
<footer>
	<div class="site-wrapper">
        <div class="site-footer">
            <!-- Footer Top -->
            <div class="footer-top clearfix">
                <div class="ft-about">
                    <img src="{{ site.url }}/assets/img/logo.png" alt="SolucionesWeb">
                    <p>En SolucionesWeb nuestra mente siempre está innovando y pensando en mejorar. Es por ello que, todos los días buscamos romper esquemas, llegar a más empresas y desarrollar nuevos proyectos.</p>
                </div>
                <div class="ft-links clearfix">
                    <nav class="clearfix">
                        <ul>
                            <li><h4>CORPORATIVO</h4></li>
                            <li><a href="#">NOSOTROS</a></li>
                            <li><a href="#">CLIENTES</a></li>
                            <li><a href="#">NUESTRO EQUIPO</a></li>
                            <li><a href="#">CONTACTENOS</a></li>
                        </ul>
                        <ul>
                            <li><h4>PRODUCTOS</h4></li>
                            <li><a href="#">CLOUD TERA</a></li>
                            <li><a href="#">MOBILE TERA</a></li>
                            <li><a href="#">BUSINESS TERA</a></li>
                            <li><a href="#">CORPO SERV</a></li>
                            <li><a href="#">SMARTER</a></li>
                            <li><a href="#">CMS MASTER</a></li>
                        </ul>
                        <ul>
                            <li><h4>SERVICIOS</h4></li>
                            <li><a href="#">APPLICATION INNOVATION</a></li>
                            <li><a href="#">BUSINESS ANALYTICS</a></li>
                            <li><a href="#">INTERACTIVE EXPERIENCE</a></li>
                            <li><a href="#">GLOBAL PROCESS</a></li>
                        </ul>
                        <ul>
                            <li><h4>NOTICIAS</h4></li>
                            <li><a href="#">COMPANY BLOG</a></li>
                            <li><a href="#">LATEST NEWS</a></li>
                            <li><a href="#">PRESS ROOM</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Footer Top End -->
            
            <!-- Footer Middle -->
            <div class="footer-middle clearfix">
                <div class="fm-social">
                    <h4>SIGANOS EN LAS REDES</h4>
                    <ul class="social-icons social-round clearfix">
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="fm-newsletter">
                    <h4>SUSCRIBASE AL BOLETIN</h4>
                    <div class="newsletter-form clearfix">
                    <form>
                        <input type="text" placeholder="ESCRIBA SU E-MAIL" required>
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    </div>
                </div>
            </div>
            <!-- Footer Middle End -->
            
            <!-- Footer Bottom -->
            <div class="footer-bottom clearfix">
                <div class="fb-copyright">(C) SOLUCIONESWEB. DERECHOS RESERVADOS.</div>
                <div class="fb-contact">
                    <ul class="clearfix">
                        <li><i class="fa fa-map-marker"></i> {{ page.address }}</li>
                        <li><i class="fa fa-phone"></i> {{ page.phone }}</li>
                        <li><i class="fa fa-paper-plane"></i> <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </div>
    </div>
</footer>
<!-- Site Footer End -->

<!-- Scripts -->
<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/bxslider.min.js"></script>
<script src="{{ site.url }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.countTo.js"></script>
<script src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
<script src="{{ site.url }}/assets/js/jquery.magnific.popup.min.js"></script>
<!-- <script src="{{ site.url }}/assets/js/contact.form.js"></script> -->

<!-- Map Scripts -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="{{ site.url }}/assets/js/gmap3.min.js"></script>

<!-- Custom Scripts -->
<script src="{{ site.url }}/assets/js/custom.js"></script>
</body>
</html>
