<!DOCTYPE html>
<html lang="es-CO">
<head>

<!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% if page.title %} {{ page.title }} | {% endif %} SolucionesWeb {% if page.url == "/index.html" %} - Empresa Desarrollo Software Web - Aplicaciones Web a la medida - Empresa de Paginas Web {% endif %}</title>
<meta name="description" content="Empresa especializada en el diseño de Paginas Web, aplicaciones Web, promocion Web y mercadeo por Internet. 100% Garantia de exito en su proyecto Web">
<meta name="author" content="SolucionesWeb">
<meta name="keywords" content="Diseño web en Armenia, paginas web Quindio, diseño de paginas web en eje cafetero, aplicaciones web armenia, desarrollo de software Web, aplicaciones moviles armenia, sitios web, empresa paginas web, aplicaciones para iphone ipad android, armenia, quindio, colombia">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/assets/img/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/img/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/apple-touch-icon-144x144-precomposed.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/bxslider.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/font.awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/magnific.popup.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/responsive.css">

<!-- Google Fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
</head>
<body>
	
<!-- Site Loader -->
<div class="site-loader">
	<img src="{{ site.url }}/assets/img/loader.gif" alt="Loading">
</div>
<!-- Site Loader End -->

<!-- Site Back Top -->
<div class="site-back-top" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Header -->
<header>
	<div class="site-wrapper">
        <div class="site-header">
            <!-- Header Top -->
            <div class="header-top">
                <ul class="clearfix">
                    <li class="ht-phone">{{ page.phone }}</li>
                    <li class="ht-lang">
                        <div class="lang-select">
                            <ul>
                                <li class="active"><a href="#">ESPAÑOL</a></li>
                                <li><a href="{{ site.url }}/index.html">DEUTSCH</a></li>
                                <li><a href="{{ site.url }}/index.html">FRANCAIS</a></li>
                                <li><a href="{{ site.url }}/index.html">ENGLISH</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="ht-search">
                        <form>
                            <input type="text" placeholder="BUSCAR" required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- Header Top End -->
            
            <!-- Header Bottom -->
            <div class="header-bottom">
                <div class="hb-toggle"><i class="fa fa-bars"></i></div>
                <div class="hb-logo"><a href="{{ site.url }}/"><img src="{{ site.url }}/assets/img/logo.png" alt="Corpotera"></a></div>
                <div class="hb-menu">
                    <nav>
                        <ul class="clearfix">
                            <li><a href="{{ site.url }}/">Inicio</a></li>
                            <li class="sub"><a href="{{ site.url }}/about-1.html">Corporativo</a>
                                <ul>
                                    <li><a href="{{ site.url }}/nosotros/">Nosotros</a>
                                    </li>
                                    <li><a href="{{ site.url }}/clientes/">Clientes</a>
                                    </li>
                                    <li><a href="{{ site.url }}/equipo/">El Equipo</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ site.url }}/servicios/">Servicios</a>
                            </li>
                            <li><a href="{{ site.url }}/portafolio/">Portafolio</a>
                            </li>
                            <li><a href="{{ site.url }}/blog/">Blog</a>
                            </li>
                            <li class="megamenu"><a href="#">Features</a>
                                <div class="mm-wrap">
                                    <ul>
                                        <li class="intro">
                                            <img src="{{ site.url }}/assets/img/megamenu-intro.png" alt="Mega Menu" class="img-full">
                                            <a href="#" class="btn btn-black btn-mini btn-round block">All Features</a>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">Modern Design <span class="bubble red">RED</span></a></li>
                                                <li><a href="#">Responsive Layout</a></li>
                                                <li><a href="#">Wide / Boxed Layout</a></li>
                                                <li><a href="#">Mega Menus <span class="bubble orange">ORANGE</span></a></li>
                                                <li><a href="#">Cross Browser Compatible</a></li>
                                                <li><a href="#">SEO Friendly</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">W3 Valid Code</a></li>
                                                <li><a href="#">519 Vector Icons <span class="bubble green">GREEN</span></a></li>
                                                <li><a href="#">Custom Maps</a></li>
                                                <li><a href="#">Google Fonts <span class="bubble">BLACK</span></a></li>
                                                <li><a href="#">Page Loader</a></li>
                                                <li><a href="#">Pricing Table</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">Counter <span class="bubble blue">BLUE</span></a></li>
                                                <li><a href="#">Carousels</a></li>
                                            	<li><a href="#">Working Ajax Contact Form</a></li>
                                            	<li><a href="#">Bootstrap 3 Based</a></li>
                                                <li><a href="#">Easy to Customize <span class="bubble grey">GREY</span></a></li>
                                                <li><a href="#">Full Documentation</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="{{ site.url }}/contacto/">Contacto</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header Bottom End -->
        </div>
    </div>