<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% if page.title %} {{ page.title }} | {% endif %} SolucionesWeb - Empresa Desarrollo Software Web - Aplicaciones Web a la medida - Empresa de Paginas Web</title>
<meta name="description" content="Empresa especializada en el diseño de Paginas Web, aplicaciones Web, promocion Web y mercadeo por Internet. 100% Garantia de exito en su proyecto Web">
<meta name="author" content="SolucionesWeb">
<meta name="keywords" content="Diseño web en Armenia, paginas web Quindio, diseño de paginas web en eje cafetero, aplicaciones web armenia, desarrollo de software Web, aplicaciones moviles armenia, sitios web, empresa paginas web, aplicaciones para iphone ipad android, armenia, quindio, colombia">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/apple-touch-icon-144x144-precomposed.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/bxslider.css">
<link rel="stylesheet" type="text/css" href="assets/css/font.awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/magnific.popup.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

<!-- Google Fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
</head>
<body>

<!-- Site Loader -->
<div class="site-loader">
	<img src="assets/img/loader.gif" alt="Loading">
</div>
<!-- Site Loader End -->

<!-- Site Back Top -->
<div class="site-back-top" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Header -->
<header>
	<div class="site-wrapper">
        <div class="site-header">
            <!-- Header Top -->
            <div class="header-top">
                <ul class="clearfix">
                    <li class="ht-phone">+1 (816) 621-4797</li>
                    <li class="ht-lang">
                        <div class="lang-select">
                            <ul>
                                <li class="active"><a href="#">ESPAÑOL</a></li>
                                <li><a href="index.html">DEUTSCH</a></li>
                                <li><a href="index.html">FRANCAIS</a></li>
                                <li><a href="index.html">ENGLISH</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="ht-search">
                        <form>
                            <input type="text" placeholder="BUSCAR" required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- Header Top End -->
            
            <!-- Header Bottom -->
            <div class="header-bottom">
                <div class="hb-toggle"><i class="fa fa-bars"></i></div>
                <div class="hb-logo"><a href="index.html"><img src="assets/img/logo.png" alt="Corpotera"></a></div>
                <div class="hb-menu">
                    <nav>
                        <ul class="clearfix">
                            <li><a href="index.html">Inicio</a></li>
                            <li class="sub"><a href="about-1.html">Corporativo</a>
                                <ul>
                                    <li><a href="about-1.html">Nosotros</a>
                                    </li>
                                    <li><a href="clients-1.html">Clientes</a>
                                    	<ul>
                                        	<li><a href="clients-1.html">Clients 1</a></li>
                                            <li><a href="clients-2.html">Clients 2</a></li>
                                            <li><a href="clients-3.html">Clients 3</a></li>
                                            <li><a href="clients-4.html">Clients 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="team-1.html">El Equipo</a>
                                    	<ul>
                                        	<li><a href="team-1.html">Our Team 1</a></li>
                                            <li><a href="team-2.html">Our Team 2</a></li>
                                            <li><a href="team-3.html">Our Team 3</a></li>
                                            <li><a href="team-detail-1.html">Team Detail 1</a></li>
                                            <li><a href="team-detail-2.html">Team Detail 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub"><a href="services-1.html">Servicios</a>
                            	<ul>
                                	<li><a href="services-1.html">Services 1</a></li>
                                    <li><a href="services-2.html">Services 2</a></li>
                                </ul>
                            </li>
                            <li class="sub"><a href="works-1.html">Trabajos</a>
                                <ul>
                                	<li><a href="works-1.html">Works 4 Col</a></li>
                                    <li><a href="works-2.html">Works 3 Col</a></li>
                                    <li><a href="works-3.html">Works 2 Col</a></li>
                                    <li><a href="works-detail.html">Works Detail</a></li>
                                </ul>
                            </li>
                            <li class="sub"><a href="blog-1-right.html">Blog</a>
                            	<ul>
                                	<li><a href="blog-1-right.html">Blog 1 (Right Sidebar)</a></li>
                                    <li><a href="blog-1-left.html">Blog 1 (Left Sidebar)</a></li>
                                    <li><a href="blog-2-right.html">Blog 2 (Right Sidebar)</a></li>
                                    <li><a href="blog-2-left.html">Blog 2 (Left Sidebar)</a></li>
                                    <li><a href="blog-single-right.html">Blog Single (Right Sidebar)</a></li>
                                    <li><a href="blog-single-left.html">Blog Single (Left Sidebar)</a></li>
                                </ul>
                            </li>
                            <li class="megamenu"><a href="#">Features</a>
                                <div class="mm-wrap">
                                    <ul>
                                        <li class="intro">
                                            <img src="assets/img/megamenu-intro.png" alt="Mega Menu" class="img-full">
                                            <a href="#" class="btn btn-black btn-mini btn-round block">All Features</a>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">Modern Design <span class="bubble red">RED</span></a></li>
                                                <li><a href="#">Responsive Layout</a></li>
                                                <li><a href="#">Wide / Boxed Layout</a></li>
                                                <li><a href="#">Mega Menus <span class="bubble orange">ORANGE</span></a></li>
                                                <li><a href="#">Cross Browser Compatible</a></li>
                                                <li><a href="#">SEO Friendly</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">W3 Valid Code</a></li>
                                                <li><a href="#">519 Vector Icons <span class="bubble green">GREEN</span></a></li>
                                                <li><a href="#">Custom Maps</a></li>
                                                <li><a href="#">Google Fonts <span class="bubble">BLACK</span></a></li>
                                                <li><a href="#">Page Loader</a></li>
                                                <li><a href="#">Pricing Table</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                            	<li><a href="#">Counter <span class="bubble blue">BLUE</span></a></li>
                                                <li><a href="#">Carousels</a></li>
                                            	<li><a href="#">Working Ajax Contact Form</a></li>
                                            	<li><a href="#">Bootstrap 3 Based</a></li>
                                                <li><a href="#">Easy to Customize <span class="bubble grey">GREY</span></a></li>
                                                <li><a href="#">Full Documentation</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sub"><a href="contact-1.html">Contacto</a>
                            	<ul>
                                	<li><a href="contact-1.html">Contact 1</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                    <li><a href="contact-3.html">Contact 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header Bottom End -->
        </div>
    </div>
	
	 {{ content }}
	 
	 <!-- Site Footer -->
<footer>
	<div class="site-wrapper">
        <div class="site-footer">
            <!-- Footer Top -->
            <div class="footer-top clearfix">
                <div class="ft-about">
                    <img src="assets/img/logo.png" alt="Corpotera">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit justo id ipsum facilisis pretium. Integer nisl neque, venenatis vel ornare et, eleifend in metus.</p>
                </div>
                <div class="ft-links clearfix">
                    <nav class="clearfix">
                        <ul>
                            <li><h4>CORPORATE</h4></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">OUR CLIENTS</a></li>
                            <li><a href="#">MEET THE TEAM</a></li>
                            <li><a href="#">CONTACT US</a></li>
                        </ul>
                        <ul>
                            <li><h4>PRODUCTS</h4></li>
                            <li><a href="#">CLOUD TERA</a></li>
                            <li><a href="#">MOBILE TERA</a></li>
                            <li><a href="#">BUSINESS TERA</a></li>
                            <li><a href="#">CORPO SERV</a></li>
                            <li><a href="#">SMARTER</a></li>
                            <li><a href="#">CMS MASTER</a></li>
                        </ul>
                        <ul>
                            <li><h4>OUR SERVICES</h4></li>
                            <li><a href="#">APPLICATION INNOVATION</a></li>
                            <li><a href="#">BUSINESS ANALYTICS</a></li>
                            <li><a href="#">INTERACTIVE EXPERIENCE</a></li>
                            <li><a href="#">GLOBAL PROCESS</a></li>
                        </ul>
                        <ul>
                            <li><h4>COMPANY NEWS</h4></li>
                            <li><a href="#">COMPANY BLOG</a></li>
                            <li><a href="#">LATEST NEWS</a></li>
                            <li><a href="#">PRESS ROOM</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Footer Top End -->
            
            <!-- Footer Middle -->
            <div class="footer-middle clearfix">
                <div class="fm-social">
                    <h4>SIGUENOS EN LAS REDES</h4>
                    <ul class="social-icons social-round clearfix">
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="fm-newsletter">
                    <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
                    <div class="newsletter-form clearfix">
                    <form>
                        <input type="text" placeholder="ENTER YOUR E-MAIL ADDRESS" required>
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    </div>
                </div>
            </div>
            <!-- Footer Middle End -->
            
            <!-- Footer Bottom -->
            <div class="footer-bottom clearfix">
                <div class="fb-copyright">(C) SOLUCIONESWEB. DERECHOS RESERVADOS.</div>
                <div class="fb-contact">
                    <ul class="clearfix">
                        <li><i class="fa fa-map-marker"></i> 2ST FLOOR ROAD LONDON SE1 7AA</li>
                        <li><i class="fa fa-phone"></i> +57 301 218 4232</li>
                        <li><i class="fa fa-paper-plane"></i> <a href="mailto:info@corpoteratechnology.com">info@solucionesweb.ml</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </div>
    </div>
</footer>
<!-- Site Footer End -->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bxslider.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.countTo.js"></script>
<script src="assets/js/jquery.fitvids.js"></script>
<script src="assets/js/jquery.magnific.popup.min.js"></script>
<script src="assets/js/contact.form.js"></script>

<!-- Map Scripts -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="assets/js/gmap3.min.js"></script>

<!-- Custom Scripts -->
<script src="assets/js/custom.js"></script>
</body>
</html>